body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: white;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: orange;
}


.hero {
  position: relative;
  height: 80vh;
}

#myVideo {
  position:absolute;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 10%;
  
}

.gustos {
  margin: 20px;
  padding: 40px;
  text-align: center;
}

.botones button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.galeria h2 {
 width: 100%;
 text-align: center;
}

.galeria div {
  display: flex;
  justify-content: center;
}

.galeria {
  text-align: center;
  gap: 20px;
  padding: 40px;
}

.pelicula {
  margin: 10px;
  background-color: #1c1c1c;
  padding: 10px;
  text-align: center;
}

.pelicula img {
  height: 100%;
  width: 90%;
  margin: auto;
}

.pelicula.accion {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex; flex-direction: column;
}

.pelicula.accion:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pelicula.comedia {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex; flex-direction: column;
}

.pelicula.comedia:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pelicula.terror {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex; flex-direction: column;
}

.pelicula.terror:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.Destacados {
  width: 100%;
  text-align: center;
}

.Info {
 width: 100%;
 text-align: center;
}


footer {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.icons {
  text-align: center;
  justify-content: space-evenly;
  font-size: 28px;
  text-decoration: none;
}



@media (max-width: 600px) {

  
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  
  .hero-text {
    left: 5%;
    top: 30%;
    text-align: center;
  }

  
  .galeria {
    flex-direction: column;
  }

  footer {
    text-align: center;
  }
}


@media (max-width: 1024px) {


  .menu {
    gap: 15px;
  }

  
  .galeria {
    flex-wrap: wrap;
    justify-content: center;
  }

}


