body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: white;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: orange;
}


.hero {
  position: relative;
  height: 80vh;
}


.hero-text {
  position: absolute;
  top: 40%;
  left: 10%;
}

.myVideo{

}

.gustos {
  padding: 40px;
  text-align: center;
}

.botones button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}


.galeria {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.pelicula {
  background-color: #1c1c1c;
  padding: 10px;
}


footer {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  text-align: center;
  justify-content: space-evenly;
  font-size: 28px;
  text-decoration: none;
}



@media (max-width: 600px) {

  
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  
  .hero-text {
    left: 5%;
    top: 30%;
    text-align: center;
  }

  
  .galeria {
    flex-direction: column;
  }

  footer {
    text-align: center;
  }
}


@media (max-width: 1024px) {


  .menu {
    gap: 15px;
  }

  
  .galeria {
    flex-wrap: wrap;
    justify-content: center;
  }

}


